<div class="hero">
    <img src="/assets/images/hero-splash.jpg" alt="">

    <div class="heroText">
    <h1>Give us your money!</h1>
    </div>
</div>

<div class="summary contentBlock cardShadow">
    <h2>Search items</h2>
    <p>Apply a category filter, or search by seller name</p>
    <div class="optionsRow">
        <button class="dropDownParent"><p>Select a Category <span>v</span></p>
            <div class="dropDownChild"><ul class="dropDownOptions">
                <li class="dropDownOption">Option 1</li>
                <li class="dropDownOption">Option 2</li>
            </ul></div>
        </button>
    </div>
</div>

<div class="bigColumn">

    <div class="cardRow">
        <div class="cardShadow miniCard">
            <div class="miniCardHeader">
                Product 1
            </div>

        </div>
        <div class="cardShadow miniCard">
            <div class="miniCardHeader">
                Product 2
            </div>
        </div>
        <div class="cardShadow miniCard">
            <div class="miniCardHeader">
                Product 3
            </div>
        </div>
    </div>

</div>