.parentContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bigColumn{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 2;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.headerNav{
  display: flex;
  align-items: center;
  color: white;
}

.headerNav a{
  color: white;
  text-decoration: none;
  margin: 0 1em;
}

.hero {
  width: 100vw;
  height: 40vh;
  margin-top: -5%;
  position: relative;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0% 70%;
  filter: brightness(50%);
}

.heroText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  /* Make this font light weight with low letter spacing after font change */
}

.contentBlock{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%;
  margin-bottom: 3%;

}

.cardShadow{
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.113);
  padding: 2em;
}

.cardRow{
  width: 85vw;
  height: 350px;
  display: flex;
  gap: 2em;
  justify-content: space-between;
  margin-top: 3.5em;
}

.miniCard{
  width: 25%;
  position: relative;
}

.miniCard:hover{
  transform: scale(1.05);
  transition: 0.7s;
}

.miniCardHeader{
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 20%;
  background-color: rgb(107, 151, 166);
  border-radius: 10px 10px 0px 0px;
  padding: 1em;
  font-size: 20px;
  font-weight: bolder;
}


.dropDownParent{
  background-color: white;
  border: 1px solid rgb(107, 151, 166);
  border-radius: 5px;
  position: relative;
}

.dropDownParent p{
  margin: 15px;
}

.dropDownParent span{
  font-size: 10px;
}

.dropDownChild{
  display: none;
}

.dropDownParent:hover .dropDownChild{
    display: block;
  position: absolute;
  background-color: white;
  border: 1px solid rgb(107, 151, 166);
  border-radius: 5px;
  margin-top: 10px;
  border-top: none;
  border-radius: 0px 0px 5px 5px; 
  top: 83%;
  z-index: 5;
  width: 90%; 
}

.dropDownOptions{
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0;
  z-index: 5;
}

.dropDownOptions li{
  padding: 10px;
  text-align: center;
  width: 100%;
}

.dropDownOptions li:hover{
  background-color: rgb(107, 151, 166);
  color: white;
  cursor: pointer;
}


