.parentContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bigColumn{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 2;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.headerNav{
  display: flex;
  align-items: center;
  color: white;
}

.headerNav a{
  color: white;
  text-decoration: none;
  margin: 0 1em;
}

.hero {
  width: 100vw;
  height: 60vh;
  margin-top: -5%;
  position: relative;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0% 70%;
  filter: brightness(50%);
}

.heroText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  /* Make this font light weight with low letter spacing after font change */
}
.cart{
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 5;
  height: 80px;
  width: 80px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  border-radius: 50%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.436);
  background-color:rgb(30, 76, 128);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  z-index: 2;
  transition: .3s ease-in-out;
}

.cartBody{

  position: fixed;
  bottom: 60px;
  right: 100px;
  width: 0vw;
  border-radius: 15px;
  border: 1px solid rgb(53, 132, 192);
  height: 60px;
  background: white;
  transition: .3s ease-in-out;
}

.cart:hover{
  height: 150px;
  width: 150px;
  font-size: 50px;
}

.cart:hover + .cartBody {
  width: 50vw; /* or whatever display value you want */
  height: 120px;
  bottom: 55px;
}

.contentBlock{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%;
  margin-bottom: 3%;

}

.cardShadow{
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.113);
  padding: 2em;
}

.cardRow{
  width: 85vw;
  height: 350px;
  display: flex;
  gap: 2em;
  justify-content: center;
  margin-top: 3.5em;
  margin-bottom: 80px;
}

.miniCard{
  width: 15em;
  position: relative;
  overflow: hidden;
}

.description {
  position: absolute;
  top: 10;
  left: 40%;
  width: 40%;
  opacity: 1; /* Fully visible */
  visibility: visible;
  transition: opacity 1s ease-in, visibility 1s ease-in;
}

.hidden {
  opacity: 0; /* Fully transparent */
  visibility: hidden;
  transition: visibility 0s ease-in 1s; /* Delay the visibility transition by 1 second */
}

.miniCard img{
  width: auto;
  height: 60%;
  object-fit: contain;
  border-radius: 10px;
  position: absolute;
  top:10px;
  left: 10px;
}

.miniCardFocus{
  width: 30%;
  position: relative;
}

.miniCardFocus img{
  width: auto;
  height: 60%;
  object-fit: contain;
  border-radius: 10px;
  position: absolute;
  top:10px;
  left: 10px;
}

.miniCard a{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.miniCard:hover{
  transform: scale(1.05);
  transition: 0.7s;
}

.miniCardHeader{

  width: 100%;
  height: 20%;
  background-color: rgb(107, 151, 166);
  border-radius: 10px 10px 0px 0px;
  padding: 1em;
  font-size: 20px;
  font-weight: bolder;
}

.miniCardInfo{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 20px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 2;
}

.cardIcons{
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 5px;
  bottom: 15px;
  gap: 10px;
  height: 50%;
  width: 50px;
  font-size: 25px;
  justify-content: flex-end;
}

.cardIcon{
  width: auto;
  text-align: center;
  transition: .3s ease-in-out;
  position: relative;
}

.cardIcon:hover{
  color: rgb(107, 151, 166);
  cursor: pointer;
}

.miniCardInfo .price{
  font-size: 20px;
  font-weight: bolder;
  color: rgb(30, 76, 128);
}


.dropDownParent{
  background-color: white;
  border: 1px solid rgb(53, 132, 192);
  border-radius: 5px;
  position: relative;
}

.dropDownParent p{
  margin: 15px;
}

.dropDownParent span{
  font-size: 10px;
}

.dropDownChild{
  display: none;
}

.dropDownParent:hover .dropDownChild{
    display: block;
  position: absolute;
  background-color: white;
  border: 1px solid rgb(107, 151, 166);
  border-radius: 5px;
  margin-top: 10px;
  border-top: none;
  border-radius: 0px 0px 5px 5px; 
  top: 83%;
  z-index: 5;
  width: 90%; 
}

.dropDownOptions{
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0;
  z-index: 5;
}

.dropDownOptions li{
  padding: 10px;
  text-align: center;
  width: 100%;
}

.dropDownOptions li:hover{
  background-color: rgb(107, 151, 166);
  color: white;
  cursor: pointer;
}

.product{
  display: flex;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.productImage{
  width: 50vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.productImage img{
  width: 80%;
  height: 80%;
  object-fit: contain;
}
.productInfo{
  width: 50vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.infoText{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.priceProduct{
  font-size: 30px;
  font-weight: bolder;
  color: rgb(69, 125, 69);
}

.productButtons{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  gap: 2em;
}

.backButton{
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 5;
  height: 50px;
  width: 50px;
  text-decoration: none;
  color: black;
}

.backButtonArrow{

  transform: scale(3);
}
